/* Variables */
/* SCSS*/
* {
  margin: 0;
  padding: 0; }

.noticias__seccion {
  background-color: #1ADB8C;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  border: outset 1px #1ADB8C;
  margin-left: 80px;
  padding: 20px;
  display: inline-block;
  width: 300px;
  height: 300px;
  overflow: hidden;
  color: #000000; }

.news {
  background-color: #101212;
  color: #1ADB8C;
  height: 70px; }

.noticias {
  font-family: 'Roboro', sans-serif;
  font-style: italic !important;
  text-align: center;
  background: linear-gradient(0deg, #21D192 0%, #101111 50%);
  color: #1ADB8C;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

@media (max-width: 800px) {
  .noticias {
    flex-direction: column; } }

.labelNews {
  padding: 1%;
  background-color: #101212;
  text-align: center; }

.cardPq {
  background-color: #000000; }

.cardSize {
  height: 440px; }

.form {
  background-color: #000000; }

.formFont {
  color: #1ADB8C; }

.formInput {
  background-color: #ACB0AA; }

.formLabel {
  color: #000000; }

.formBt {
  background-color: #1ADB8C;
  color: #000000;
  outline: 0 !important; }

@media (max-width: 800px) {
  .cardSize {
    width: 500px;
    height: 240px; } }

@media (max-width: 1024px) {
  .cardSize {
    width: 469px;
    height: 240px; } }

#fondoindex {
  font-family: 'Roboto', cursive;
  font-size: 15px;
  font-style: normal;
  background-color: #5A5C59;
  color: white; }

.navbar-logo {
  display: inline-block;
  vertical-align: bottom;
  width: 80px; }

.navbar-logo img {
  display: block;
  width: 100%;
  height: auto; }

#serviciosGrid {
  display: grid;
  grid-template-areas: "Servicio1 Imagen1" "Servicio2 Imagen2" "Servicio3 Imagen3";
  grid-template-rows: 260px 260px 260px;
  grid-template-columns: 50%;
  grid-row-gap: 10px;
  grid-column-gap: 3px;
  height: 100vh;
  margin: 5px;
  color: #1ADB8C;
  font-size: 25px; }

section#s1 {
  grid-area: Servicio1;
  grid-column-start: 1; }

section#s2 {
  grid-area: Servicio2;
  grid-column-start: 1; }

section#s3 {
  grid-area: Servicio3;
  grid-column-start: 1; }

section#i1 {
  grid-area: Imagen1;
  grid-column-start: 2; }

section#i2 {
  grid-area: Imagen2;
  grid-column-start: 2; }

section#i3 {
  grid-area: Imagen3;
  grid-column-start: 2; }

img#i1 {
  width: 950px;
  height: 260px; }

img#i2 {
  width: 950px;
  height: 260px; }

img#i3 {
  width: 950px;
  height: 260px; }

.serviciosText {
  font-size: 20px;
  align-content: center; }

.border {
  border: 1px solid #000000;
  background-color: #101111; }

div#cotizar {
  width: 160px;
  height: 30px;
  transition: all 2s;
  text-decoration: none; }

div#cotizar:hover {
  height: 40px;
  width: 200px;
  padding: 10px;
  background-color: #1ADB8C;
  text-decoration: none; }

.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 30px;
  background-color: #101111;
  color: #1ADB8C;
  flex-grow: 1;
  text-align: center; }

.articulosContenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 30px;
  background-color: #101111;
  color: #1ADB8C;
  flex-grow: 1;
  text-align: center; }

.parrafosContenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 15px;
  background-color: #101111;
  color: #1ADB8C;
  flex-basis: auto;
  flex-grow: 1;
  text-align: center; }

.titulosFlex {
  width: 400px;
  height: 30px;
  text-align: center; }

.parrafosFlex {
  width: 400px;
  height: 66px;
  text-align: center; }

@media (max-width: 800px) {
  .contenedor {
    flex-direction: column; } }

.cardbt {
  height: 300px; }

.textbt {
  font-size: 25px;
  text-align: center;
  height: 100px;
  color: #21D192;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-style: normal; }

@media (max-width: 800px) {
  .cardbt {
    height: 700px;
    font-size: 15px; } }

.parrafosFlex__list {
  list-style-image: url("https://www.flaticon.es/icono-gratis/proximo_126490");
  list-style-position: inside;
  height: 25px;
  padding-left: 44px;
  padding-top: 3px;
  color: #1ADB8C; }

div#animacion {
  width: 1920px;
  height: 30px;
  background-color: #21D192;
  animation-name: Conocenos;
  animation-iteration-count: initial;
  animation-timing-function: ease-in;
  animation-duration: 10s;
  animation-delay: 0s; }

@keyframes Conocenos {
  0% {
    width: 600px;
    height: 30px; }
  25% {
    width: 1000px;
    height: 30px; }
  50% {
    width: 600px;
    height: 30px; }
  75% {
    width: 1000px;
    height: 30px; }
  100% {
    width: 1920px;
    height: 30px; } }

nav {
  background-color: #101111 !important;
  font-family: "Roboto" !important;
  font-style: normal !important; }

.redes {
  width: 30px !important;
  height: 30px !important; }
